<h1 class="text-2xl font-bold mb-4">Edit Family Beneficiary</h1>
<%= render 'form', request: @request %>
<%= link_to 'Back to Requests', requests_path, class: "mt-4 inline-block bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-700" %>