<div class="border-b border-gray-200 dark:border-gray-700 font-Outfit ">
    <ul class="flex justify-center space-x-2  sm:space-x-0 font-Outfit font-bold text-darkBlue">
        <li>
            <a href="#" class="flex flex-col text-xs md:text-base items-center p-2 md:p-4 border-b-2 border-transparent rounded-t-lg hover:text-lightGreen hover:border-lightGreen group">
            <i class="fa-solid fa-chart-line"></i>
                Overview
            </a>
        </li>
        <li>
            <div href="" class="flex flex-col text-xs md:text-base items-center p-2 md:p-4 border-b-2 border-transparent rounded-t-lg  hover:text-lightGreen hover:border-lightGreen group" aria-current="page">
            <i class="fa-solid fa-users"></i>

                <%= link_to "Staffs", users_path(branch_id: @branch.id), class: "" %>
                 
            </div>
        </li>
        <li>
            <a href="#" class="flex flex-col text-xs md:text-base items-center p-2 md:p-4 border-b-2 border-transparent rounded-t-lg hover:text-lightGreen hover:border-lightGreen group">
            <i class="fa-solid fa-inbox"></i>

                Requests
            </a>
        </li>
        <li>
            <a href="#" class="flex flex-col text-xs md:text-base items-center p-2 md:p-4 border-b-2 border-transparent rounded-t-lg hover:text-lightGreen hover:border-lightGreen group">
            <i class="fa-solid fa-bookmark"></i>

                Events
            </a>
        </li>
        <li>
        <a href="#" class="flex flex-col text-xs md:text-base items-center p-2 md:p-4 border-b-2 border-transparent rounded-t-lg hover:text-lightGreen hover:border-lightGreen group">
        <i class="fa-solid fa-bell "></i>

            Inventory
        </a>
    </li>
    </ul>
</div>
