<% if @inventory.errors.any? %>
  <div id="form-container" class="p-5">
    <p class="bg-red-100 text-red-800 text-center font-Outfit text-base">Please fill form correctly to add new inventory</p>
  </div>
  <% end %>
  <div id="form-container" class="p-5">
    <%= render partial: @inventory_partial %>
  </div>