<div id="form-container" class="border-2 border-red-600">
  Edit Inventory form
  <%= render partial: @inventory_partial if @inventory_partial %>
</div>
<%= link_to 'Back to Requests', requests_path, class: "mt-4 inline-block bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-700" %>