<h1 class="text-3xl text-emerald-300 text-center mb-4">Inventory Management</h1>
<%= render 'form', request: @request %>
<%= link_to 'Back to Requests', requests_path, class: "mt-4 inline-block bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-700" %>