<% if @inventory.errors.any? %>
  <div id="form-container" class="">
    <p>Please fill form correctly to add new inventory</p>
  </div>
<% end %>
<div id="form-container" class="">
  <%= render partial: @inventory_partial %>
</div>