<h2 class="text-2xl font-bold mb-4">Edit Individual Beneficiary</h2>
<%= render 'form', individual_beneficiary: @individual_beneficiary %>
<%= link_to 'Back to Individual Beneficiaries', individual_beneficiaries_path, class: "mt-4 inline-block bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-700" %>
