<!-- Main modal -->
<div id="privacy-modal" tabindex="-1" aria-hidden="true" class="hidden fixed inset-0 z-50 flex items-center justify-center">
    <!-- Overlay -->
    <div class="fixed inset-0 bg-black bg-opacity-50"></div>
    
    <div class="relative p-4 w-full max-w-2xl max-h-full z-10">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Privacy Policy
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" onclick="toggleModal('privacy-modal')">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4 overflow-y-auto max-h-[75vh]">
                <div class="text-darkBlue">
                    <strong>Introduction</strong><br>
                    Haba Na Haba Food Bank (Haba Na Haba, “We”, “Us”) is committed to protecting your privacy. This Privacy Policy is our statement that is designed to help you understand how our website collects information about you when you visit it and how it uses and discloses that information. This Privacy Policy applies to personal information that is collected on this Site. Your use of this Site constitutes your agreement to this Privacy Policy. We reserve the right to change, modify, add, or delete portions of this Privacy Policy at any time. From time to time, we may change, modify, add, or delete portions of this privacy policy statement, and you must always consult our most recent version.
                </div>
                <div class="text-darkBlue">
                    <strong>Information We Collect</strong><br>
                    We may collect a variety of information from or about you or your devices from various sources, with or without your knowledge as shown below.
                </div>
                <div class="text-darkBlue">
                    <strong>Information You Provide to Us</strong><br>
                    You may choose to provide us with information, such as your name, email address, address, phone number, and/or zip code when you visit our website and/or sign up for our Services. For example, you may provide us with information if at all you: are making a donation to Haba Na Haba Food Bank; contact us or send us a message through our website; participate in any of our services that request for information; participate in surveys, service reviews or similar types of activities regarding Haba Na Haba Food Bank.
                </div>
                <div class="text-darkBlue">
                    <strong>Information We Collect When You Use Our Services</strong><br>
                    <strong>Device Information:</strong> We receive information about the device and software you use to access our Services, including IP address, web browser type, operating system version, phone carrier and manufacturer, application installations, device identifiers, mobile advertising identifiers, and push notification tokens.<br>
                    <strong>Usage Information:</strong> To help us understand how you use our Services and to help us improve them, we automatically receive information about your interactions with our Services, like the pages or other content you view and the dates and times of your visits.<br>
                    <strong>Information from Cookies and Similar Technologies:</strong> We and third-party partners collect information using cookies, pixel tags, or similar technologies.
                </div>
                <div class="text-darkBlue">
                    <strong>How We Use the Information We Collect</strong><br>
                    We use the information we collect: To provide, maintain, improve, and enhance our Services; To facilitate transactions and payments as you make donations; To personalize your experience; To understand and analyze how you use our Services; For marketing and advertising purposes; To communicate with you; and For compliance purposes.
                </div>
                <div class="text-darkBlue">
                    <strong>How We Share the Information We Collect</strong><br>
                    <strong>Consent:</strong> Haba Na Haba may disclose your information with your permission.<br>
                    <strong>Affiliates:</strong> We may share any information we receive with our affiliates.<br>
                    <strong>Analytics Partners:</strong> We use analytics services, such as Google Analytics, to collect and process certain analytics data.<br>
                    <strong>Vendors and Service Providers:</strong> We may share any information we receive with vendors and service providers retained in connection with the provision of our Services.
                </div>
                <div class="text-darkBlue">
                    <strong>Security</strong><br>
                    We will post any adjustments to the Privacy Policy on this page, and the revised version will be effective when it is posted. If we materially change the ways in which we use or share personal information previously collected from you through the Services, we will notify you through the Services or any other credible communication medium.
                </div>
                <div class="text-darkBlue">
                    <strong>Any Queries or Concerns?</strong><br>
                    Haba Na Haba Food Bank is responsible for processing your information. In case of any questions or concerns about our Privacy Policy, feel free to contact us or drop us an email. We'll be glad to resolve your concerns.
                </div>
            </div>
        </div>
    </div>
</div>
