<!-- Main modal -->
<div id="terms-modal" tabindex="-1" aria-hidden="true" class="hidden fixed inset-0 z-50 flex items-center justify-center">
    <!-- Overlay -->
    <div class="fixed inset-0 bg-black bg-opacity-50"></div>
    
    <div class="relative p-4 w-full max-w-2xl max-h-full z-10">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Terms of Use
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" onclick="toggleModal('terms-modal')">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4 overflow-y-auto max-h-[75vh]">
                <div class="text-darkBlue">
                    <strong>Introduction</strong><br>
                    By accessing any webpage operated by the Haba Na Haba Food Bank (“Us”, “We”, “Haba Na Haba”), you indicate your agreement to the following terms and conditions of usage. If you do not agree to any of these provisions, please do not use our website. These terms and conditions are issued on behalf of Haba Na Haba as an organization of itself.
                </div>
                <div class="text-darkBlue">
                    <strong>Making Donations</strong><br>
                    Our website may offer great online capabilities to make gratuitous donations to support our work at Haba Na Haba. Please see our privacy policy for more information about using our online donation capacities. Or better actually, contact us to have all your concerns resolved.
                </div>
                <div class="text-darkBlue">
                    <strong>User Comments and Responses</strong><br>
                    You agree to grant Haba Na Haba the non-exclusive and unlimited right to reprint, use directly, or make derivative use of any comments, responses, posts, or other information communicated to it through its website (hereinafter “Responses”). Haba Na Haba shall not be required to treat Responses as confidential, and shall be entitled to use Responses for any commercial or noncommercial purpose permitted to it without any compensation to you or any other person contributing to the Responses. You acknowledge by submitting Responses that you own whatever content you submit, and that our use of your Responses will not infringe upon the rights of any third party or person.
                </div>
                <div class="text-darkBlue">
                    <strong>Links from our Website</strong><br>
                    Our website may contain links to other websites that are not under our control. We are not responsible for the accuracy, relevancy, copyright compliance, legality, or any other aspect of the content of those websites. The inclusion of any links does not imply an endorsement or approval by GFC of any website, product, or service.
                </div>
                <div class="text-darkBlue">
                    <strong>Revisions to our Website</strong><br>
                    Haba Na Haba reserves the right to make changes, modifications, additions to, and deletions from the content available on its websites at any time, at its discretion. This right includes but is not limited to the right to discontinue for perpetuity or any limited period the availability of any websites, and of any products and services offered on its websites.
                </div>
                <div class="text-darkBlue">
                    <strong>Any Queries or Concerns?</strong><br>
                    In case of any queries or concerns about our Terms and Conditions, feel free to contact us or drop us an email.
                </div>
            </div>
        </div>
    </div>
</div>
