<section>
    <div class="flex w-full justify-center gap-3 items-stretch px-2">
        <!-- Card 1 -->
        <div class="flex-1 p-2">
            <div class="px-3 py-4 sm:px-4 sm:py-6 rounded-xl bg-lightGreen shadow-lg transition-shadow hover:shadow-2xl flex flex-col items-start space-y-3 sm:space-y-6">
                <div class="mb-2 sm:mb-4 bg-gradient-to-r from-green-400 to-green-600 p-2 rounded-full">
                    <i class="fa-regular fa-folder text-white text-lg sm:text-xl lg:text-2xl"></i>
                </div>
                <div class="flex flex-col sm:flex-row sm:gap-x-4 md:gap-x-6 lg:gap-x-8 w-full text-lightGray font-Outfit">
                    <div class="flex flex-col items-start font-thin">
                        <p class="text-xs sm:text-sm md:text-base lg:text-lg tracking-wide">Total Food</p>
                        <p class="pt-1 text-lg sm:text-xl md:text-2xl lg:text-3xl font-semibold tracking-wide">350</p>
                    </div>
                    <div class="flex flex-col items-start font-thin">
                        <p class="text-xs sm:text-sm md:text-base lg:text-lg tracking-wide">Donated</p>
                        <p class="pt-1 text-lg sm:text-xl md:text-2xl lg:text-3xl font-semibold tracking-wide">316</p>
                    </div>
                </div>
            </div>
        </div>

            <!-- Card 2 -->
        <div class="flex-1 p-2">
            <div class="px-3 py-4 sm:px-4 sm:py-6 rounded-xl bg-white shadow-lg transition-shadow hover:shadow-2xl flex flex-col items-start space-y-3 sm:space-y-6">
                <div class="mb-2 sm:mb-4 bg-gradient-to-r from-gray-400 to-gray-600 p-2 rounded-full">
                    <i class="fa-solid fa-user-group text-white text-lg sm:text-xl lg:text-2xl"></i>
                </div>
                <div class="flex flex-col sm:flex-row sm:gap-x-4 md:gap-x-6 lg:gap-x-8 w-full text-black font-Outfit">
                    <div class="flex flex-col items-start font-thin">
                        <p class="text-red-600 text-xs sm:text-sm md:text-base lg:text-lg tracking-wide">Low Stock</p>
                        <p class="pt-1 text-lg sm:text-xl md:text-2xl lg:text-3xl font-semibold tracking-wide">23</p>
                    </div>
                    <div class="flex flex-col items-start font-thin">
                        <p class="text-xs sm:text-sm md:text-base lg:text-lg tracking-wide">Expired</p>
                        <p class="pt-1 text-lg sm:text-xl md:text-2xl lg:text-3xl font-semibold tracking-wide">3</p>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="flex justify-between items-center mt-10 lg:hidden">
        <button class="border-2 border-black focus:outline-none rounded-xl p-2">
            <i class="fa-solid fa-filter fa-xl"></i>
            <span>filter</span>
        </button>
        
            <%= button_to new_request_path, method: :get do %>
                <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="20.5" cy="20.5" r="20.5" fill="#6DC13D"/>
                    <path d="M20 9.33331V32.6666M8.33333 21H31.6667" stroke="white" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            <% end %>
        
        <button>
            <div class="border-2 border-black focus:outline-none rounded-xl p-2">
                <i class="fa-regular fa-calendar-days fa-xl"></i>
                <span>filter</span>
            </div>
        </button>
    </div>

    <div class="hidden lg:flex justify-between items-center font-Outfit mt-10">
        <p class="font-semi-bold text-lg">Inventory Items</p>
        <div class="flex items-center gap-2">      
            
            <div class= "p-4 bg-lightGreen text-white rounded-xl">
                <%= link_to "Add New", new_request_path, class:"border-2 border-lightGreen p-2 rounded-xl" %>
            </div>
            

            <button class="border-2 border-deepGray focus:outline-none rounded-xl p-2">
                <i class="fa-solid fa-filter fa-xl"></i>
                <span>filter</span>
            </button>            
                                                    
        </div>

    </div>


</section>