
<section id="contact" class="md:my-8 "> 
<div class="bg-lightGreen md:w-[95%] lg:w-[95%] py-16 font-Outfit mx-auto md:rounded-lg">
  <div class="max-w-6xl mx-auto flex flex-col md:flex-row lg:flex-row items-center justify-center gap-12 p-4">
    <div class="w-full text-center md:flex-row lg:text-left">
      <h2 class="text-white text-xl lg:text-3.5xl font-bold text-left mb-6">Want to be a part of this Noble Cause? Donate Now</h2>
      <div class="flex flex-row">
        <div>
          <p class="text-lg text-white text-left">or call us now</p>
          <p class="text-2xl md:text-xl  lg:text-2xl font-bold text-white text-left">(+256) 782-611246</p>
        </div>
        <div>
          <img src="../assets/map_uganda.png" alt="Map Uganda Icon" class="w-40 h-40" />
        </div>
      </div>
    </div>

  <div class="w-full max-lg:max-w-lg md:bg-white md:rounded-lg md:p-8">

<form class="max-w-lg mx-auto font-Outfit" >
  <div class="grid grid-cols-1 md:grid-cols-2 gap-5 mb-5">
    <div>
      <label for="full-name" class="block mb-2 text-sm font-medium text-white md:text-darkBlue">Full Name</label>
      <input type="text" id="full-name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="John Doe" required />
    </div>
    
    <div>
      <label for="address" class="block mb-2 text-sm font-medium text-white md:text-darkBlue">Physical Address</label>
      <input type="text" id="address" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="123 Main St, City, Country" required />
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-5 mb-5">
    <div>
      <label for="phone" class="block mb-2 text-sm font-medium text-white md:text-darkBlue">Phone Number</label>
      <input type="tel" id="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="(123) 456-7890" required />
    </div>

    <div>
      <label for="email" class="block mb-2 text-sm font-medium text-white md:text-darkBlue">Email Address</label>
      <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@example.com" required />
    </div>
  </div>
  
  <button type="submit" class="text-white bg-darkBlue hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
</form>



</div>

  </div>
</div>
</section>