<!-- Main modal -->
<div id="cookie-modal" tabindex="-1" aria-hidden="true" class="hidden fixed inset-0 z-50 flex items-center justify-center">
    <!-- Overlay -->
    <div class="fixed inset-0 bg-black bg-opacity-50"></div>
    
    <div class="relative p-4 w-full max-w-2xl max-h-full z-10">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Cookie Information
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" onclick="toggleModal('cookie-modal')">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4 overflow-y-auto max-h-[75vh] text-darkBlue">
                <strong>Introduction</strong><br>
                This is the Cookie information page for this website (the "Website"). It specifically explains about cookies on this website as regards your data privacy. To learn more about how we process your personal data when you visit our Website or communicate with Haba Na Haba (“Haba Na Haba Food Bank” or “we” or “us”), please refer to our privacy policy statement.

                <strong>What are Cookies?</strong><br>
                To offer you better service when visiting a website most sites use cookies; practical technologies that collect and use information, making websites easier to use. Cookies are bits of text that are placed on your computer's hard drive when you visit the Website. During your visit, these cookies send data to us so that we offer you a more personalized experience.

                <strong>What do they do?</strong><br>
                We use cookies to tell us, for example, whether you have visited us before or if you are a new visitor. It also helps us enhance your online experience while you are visiting here on our Website.

                <strong>Usage of the Cookies</strong><br>
                Haba Na Haba Food Bank uses different types of cookies. We believe it is very important that you know what data we collect with cookies and that you know which cookies our technology uses and for what purposes they are used. Please find an overview below.

                <ul>
                    <li><strong>Strictly Necessary Cookies:</strong> These offer the basic functionalities of the Website and cannot be switched off in our systems. They deliver the service you requested on the Website and to remember your cookie settings.</li>
                    <li><strong>Performance Cookies:</strong> Used to count visits and traffic sources so we can measure and improve the performance of our site.</li>
                    <li><strong>Targeting Cookies:</strong> May be set through our Website by online advertising partners to build a profile of your interests and show you relevant adverts on other sites.</li>
                    <li><strong>Social Media Cookies:</strong> Set by social media services that we have added to the Website to enable you to share our content with your friends and networks.</li>
                </ul>

                <strong>How to control, disable and delete cookies</strong><br>
                You can change the settings to block cookies or to alert you when cookies are being sent to your device through any of your browsers such as Internet Explorer, Mozilla Firefox, Google Chrome, Apple Safari, and more. If you do not wish to receive any cookies at all, you may set your browser to disable cookies altogether. However, if you disable the cookies that we use, this may impact your overall user experience while on the Website.
            </div>
        </div>
    </div>
</div>
