<div class="relative h-74 w-1/2 overflow-hidden rounded-l-lg">
  <img src="../assets/group-different-people-volunteering-foodbank 1.png" alt="card-image" class="object-cover h-full w-full" />
</div>
<div class="p-4 w-1/2 flex flex-col justify-between">
  <div>
    <h3 class="mb-1 text-darkBlue text-xl font-medium md:text-xxs lg:text-base">WE WORK FOR PEOPLE</h3>
    <h3 class="text-white font-semibold md:text-xl lg:text-3.8xl lg:leading-snug">Building Communities</h3>
    <p class="font-normal text-white text-sm mt-4 md:text-1xxs lg:text-base lg:max-w-max">
      Haba Na Haba Food Bank is a registered NGO (No. 0952) in Uganda that passionately works to alleviate hunger and strengthen local communities. It is fully recognized as a member of the Regional Food Banking Network No. 150051, headquartered in UAE Dubai, under the mentorship of Egypt Food Bank.
    </p>
  </div>
  <div class="mt-4 font-Outfit">
    <button class="rounded-md bg-darkBlue py-2 px-4 border border-transparent text-center text-semibold text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" type="button">
      Learn more
    </button>
  </div>
</div>
