<div>
  <div class="mt-2">
    <div>
      <%= image_tag("two-volunteers.png", class: "", alt: "volunteers") %>
    </div>
  </div>
  <div class="bg-lightGreen text-white text-left pt-10 px-5">
    <h3 class="text-darkBlue font-medium text-base">WE WORK FOR PEOPLE</h3>
    <h3 class="font-semibold text-3xl">Building Communities</h3>
    <p class="font-normal text-sm mt-10">
      Haba Na Haba Food Bank is a registered NGO (No. 0952) in Uganda that passionately works to alleviate hunger and strengthen local communities. Currently, it's fully recognized as a member of the Regional Food Banking Network No. 150051 with its headquarters in UAE Dubai and under the mentorship of Egypt Food Bank.
    </p>
    <button type="button" class="mb-10 text-white bg-darkBlue hover:bg-lightGreen focus:ring-4 focus:ring-white font-semibold rounded-lg text-sm px-5 py-2.5 me-2 mb-2 mt-5">
      Learn more
    </button>
  </div>
</div>
