<h2 class="text-center text-lightGreen font-Outfit font-bold text-lg">Edit Request</h2>
<%= render 'form', request: @request %>
<%= link_to 'Back', requests_path, class: 'mt-4 inline-block bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-700' %>