/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* .users-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;
  justify-content: center;
} */

.bg-users-show {
  background-image: url('/assets/users-show.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mobile-yield-content {
  margin: 20px;
}

.red-border {
  border: 3px solid red;
}

.mobile-sidebar {
  position: fixed;
  top: 2px;
  left: 2px;
}

.space-y-2::-webkit-scrollbar {
  width: 6px;
}

.space-y-2::-webkit-scrollbar-track {
  background: #bebebe;
  border-radius: 8px;
}

.space-y-2::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 8px;
  border: 2px solid transparent;
}

.space-y-2::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

@media screen and (min-width: 768px) {
  .tab-yield-content,
  .tab-navbar {
    margin-left: 230px;
    margin-right: 20px;
    margin-top: 20px;
  }

  .tab-sidebar {
    position: fixed;
    top: 5rem;
    left: 1rem;
  }
}

@media screen and (min-width: 820px) {
  .tab-sidebar {
    top: 10rem;
  }

  .tab-yield-content,
  .tab-navbar {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1114px) {
  .tab-sidebar {
    top: 2.5rem;
    bottom: 2.5rem;
  }

  .tab-yield-content,
  .tab-navbar {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .yield-content {
    margin-left: 250px;
    margin-right: 28px;
  }

  .desktop-sidebar {
    position: fixed;
    top: 2.5rem;
    left: 2.5rem;
    bottom: 2.5rem;
  }

  .tab-yield-content,
  .tab-navbar {
    margin-top: 20px;
  }
}
